@font-face {
  font-family: myFirstFont;
  src: url(/assets/fonts/Metal-Vampire.ttf);
}


.wrapper {
    background-image: url("/assets/images/arena.jpg");
    text-align: center;  
    height: 100vh;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
body, html {
    height: 100%;
    
  }  


.start {
    margin: 100px;
    
}

#start-button, #create-button {
    background-color: black;
    color: white;
    width: 150px;
    padding-top: 13px;
    padding-bottom: 13px;
}

#title {
  color: red;
  font-size: 5rem;
  padding-top: 100px;
  font-family:"myFirstFont";
}

